<div class="wrapper">
    <div class="header">
        <div class="title">{{title}}</div>
        <div *ngIf=" ">This content is shown by condition</div>
    </div>
    <div class="status" [ngStyle]="{'background':'gray'}">Complete Status = {{isComplete}}</div>
    <div class="status">count value = {{count}}</div>
    <div class="buttonGroup">
        <button (click)="increment()">Increment</button>
        <button (click)="decrement()">decrement</button>
        <button (click)="incrementByValue(2)">Increment by 2</button>
        <button (click)="count=0">Reset</button>
    </div>

    <div class="hideAction">
        <button (click)="toggleShown()">{{isShown?'Hide':'Show'}}</button>
        <button (click)="updateStatus()">{{isComplete?'As False':'As True'}}</button>
    </div>
    <p>Ng For Example</p>
    <div class="productList">         
        <div  *ngFor="let product of productList">{{product.label}}</div>
    </div>
    <div appCustom>Directives</div>
</div>
<router-outlet></router-outlet>
